<!-- <div class="container mt-5" >
  <div class="btn btn-success" (click) = "demoMessageBox1()">
    demo MessageBox 1
  </div>
</div> -->

<div class="container mt-5" >
  <div class="btn btn-warning" (click) = "demoMessageConfirmation()">
    demo Message Confirmation
  </div>
</div>

<div class="container mt-5" >
  <div class="btn btn-danger" (click) = "demoMessageError()">
    demo Message Error
  </div>
</div>

<ng-template appPlaceholder></ng-template>


<!-- <vs-message-box *ngIf = "flag" [msgBoxProperties] = "msgBoxProperties" (showMsgBox) = "showMsgBox($event)"></vs-message-box> -->
