
<div class="backdrop">
    <div class="alert-box">

        <p [style.background-color] = "bgColor"> {{ title }}</p>

        <h3> {{ msgText }} </h3>
       <br>  <br>  
       <hr>

       <div class="d-flex">
        <div class="mr-auto">
            <!-- <button class="btn btn-warning btn-sm mr-auto"  *ngIf = "icon"> {{ icon }} </button>  -->
        </div>

       
        <div class="mr-0">
            <div class="btn-toolbar">
             <button type="button" *ngIf = "btnIsVisibleOK" class="btn btn-primary btn-sm mr"
              (click) = "btnOnClickOK()"> OK </button>

              <button type="button" *ngIf = "btnIsVisibleCancel" class="btn btn-primary btn-sm mr"
              (click) = "btnOnClickCancel()"> Abbrechen </button>

         </div> 

       </div>
       

    </div>
  </div>
